:root  {
/* Fonts */
--primary-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif;

/* Text colors */
--primary-txt-cl: #434455;
--secondary-txt-cl: #2E2F42;
--accent-txt-cl: #4D5AE5;
--light-txt-cl: #E7E9FC;
--wht-cl: #FFFFFF;
--light-dark-tx: #E7E9FC;
--light-wht-txt-cl:#F4F4FD;
  
/* BG colors */
--primary-bg-cl: #FFFFFF;
--accent-bg-cl: #2E2F42;
--secondary-bg-cl: #F4F4FD;
--contrast-bg-cl:#4D5AE5;
--deep-bg-cl: #404BBF;

/* others */

--indent: 24 px;
--items:3
}



/* reset style*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.section {
padding-top: 120px;
padding-bottom: 120px;
}

.img {
    display: block;
}

.list {
list-style: none;
color: currentColor;
margin: 0;
padding: 0;
}

.link {
    text-decoration: none;
}

body {
font-family: var(--primary-font);
font-style: normal;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
background-color: var(--primary-bg-cl);
color: var(--primary-txt-cl);
}


.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* btn styles */

.btn {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.04em;
cursor: pointer;
border: none;
display: flex;
}

.btn-hero { 
display: block;
min-height: 56px;
min-width: 169px;  
padding: 16px 32px;
margin-right: auto;
margin-left: auto;
margin-bottom: 188px;
border-radius: 4px; 
background-color: var(--contrast-bg-cl);
color: var(--wht-cl);
}
    
.btn-portfolio:hover,
.btn-portfolio:focus { 
background-color: var(--deep-bg-cl);
color: var(--wht-cl);
}

.btn-portfolio {
min-height: 48px;
/* min-width: 169px;  
padding: 16px 32px; */
/* margin-right: auto;
margin-left: auto; */
border-radius: 4px; 
color: var(--accent-txt-cl);
background-color: var(--secondary-bg-cl);
}

/* header styles */

.header-container {
display: flex;
align-items: center;
}

.header {
padding-top: 24px;
padding-bottom: 24px;
}

.header-logo {
margin-right:  76px; ;
font-family: var(--secondary-font);
font-weight: 800;
font-size: 18px;
line-height: calc(24/18);
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--secondary-txt-cl);
}

.logo {
color: var(--accent-txt-cl);
align-items: center;
}

.nav {
display: flex;
align-items: center;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
margin-right: 332px;
}

.nav-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
color: var(--secondary-txt-cl); 
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
color: var(--accent-txt-cl);
}

.address-list
{display: flex;
align-items: center;
gap: 40px;
}
.address-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-style: normal;
color: var(--primary-txt-cl);
}

.btn-portfolio:last-child {
    margin-right: 0;
    }
    
.btn-portfolio:first-child {
    margin-left: 0;
}

/* Card set */
.card-set {
display: flex;
flex-wrap: wrap;
gap: var(--indent);
}

.card-set-item{
flex-basis: calc (100% - var(--indent) * (var(--items)-1)/ var(--items));
}

/* styles index body */
.hero-section {
background-color: var(--accent-bg-cl);
padding-top: 188px;
padding-bottom: 188px;
}

.main-hero-h {
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
width: 494px;
font-weight: 700;
font-size: 56px;
line-height: calc(60/56);
color: var(--wht-cl);

letter-spacing: 0.02em;
text-align: center;
}

/* h3*/
.title
{ font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
color: var(--secondary-txt-cl);
}

/*р2*/
.section-titel {
font-weight: 700;
font-size: 36px;
line-height: calc(40/36);
text-transform: capitalize;
color: var(--secondary-txt-cl);    
}

.container-about {
display: flex;
}
.hidden-about {
text-align: center;
}

.about-list {
display: flex;
}
.about-li {
gap: 24px;
}

.title-about {
margin-bottom: 8px;
}

.samples {
font-weight: 500;
font-size: 20px;
line-height: calc(24/20);
letter-spacing: 0.02em;
color: var(--secondary-txt-cl);
}

.text {
color: var(--primary-txt-cl);
}

/* styles index footer*/
.conteiner-footer {
width: 264px;
height: 110px;
}


.footer {
background-color: var(--accent-bg-cl);
padding-top: 100px;
padding-bottom: 100px;
padding-left: 156px;
}

.footer-logo {
    margin-bottom: 16px;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-wht-txt-cl);
    }

.footer-text {
color:  var(--light-dark-tx);    
 }